# Virtual environment
venv/

# SQLite database
Server/database.sqlite

# FAISS index files
Server/faiss_index/

# Logs
Server/logs/

# Other generated or temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log